<div id="card" class="color-{{ task.color }}">

    <div class="title-medium task-title pt-16">
        {{ task.title }}
    </div>

    <div class="text-medium"
        style="position: absolute;
            top: 0;
            right: 5px;
            color: white;
            font-weight: 500;">
        {{ dataFormatada }}
    </div>

    <div style="padding: 2px 8px;">
        <div class="text-medium">
            {{ task.description }}
        </div>
        <div class="text-medium">
            Gravidade: {{ task.gravidade }}
        </div>
        <div class="text-medium">
            Urgência: {{ task.urgencia }}
        </div>
        <div class="text-medium">
            Tendência: {{ task.tendencia }}
        </div>
    </div>

</div>