<div id="header">
    <header>
        <h1 class="title-page">Priority Task Manager</h1>
    </header>

    <div id="nav-header">
        <div id="botoes">
            <div>
                <p>
                    night mode
                </p>
            </div>

            <div>
                <p>
                    atividades
                </p>
                <p>
                    boards
                </p>
                <p>
                    minha conta
                </p>
            </div>
        </div>
    </div>
</div>